<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>206212237834-ncan8mfkvmr08ctfipev3r3817f2kehb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.206212237834-ncan8mfkvmr08ctfipev3r3817f2kehb</string>
	<key>API_KEY</key>
	<string>AIzaSyCke-Mu2jRFYr39cC87BeyRn6TcxP0Y4GY</string>
	<key>GCM_SENDER_ID</key>
	<string>206212237834</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>BlackOFF.Funiture-shop</string>
	<key>PROJECT_ID</key>
	<string>loginpassworld-4b572</string>
	<key>STORAGE_BUCKET</key>
	<string>loginpassworld-4b572.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206212237834:ios:5b1686bda875c9dd5fedf3</string>
</dict>
</plist>